/default.md
/org/pdfs/
/node_modules/
/resources/
/org/biblio/auto/
/org/org-roam.db
/org/org-fc.tsv
/public/
/public/posts/
/org/work/
org/private/
/org/lit/.auctex-auto/
*/**/*.syncthing*
/content/posts/**
org-roam.db
private/
.direnv/
